<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Listado de Clientes - Reserva de Hoteles</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/aside.css" />
    <link rel="stylesheet" href="/css/cliente.css" />
  </head>
  <body>
    <aside class="sidebar">
      <h2>TuViaje Admin</h2>

      <div class="menu-section">
        <p>👤 Clientes</p>
        <a href="/admin/clientes">Ver clientes</a>
        <a href="/admin/clientes/registrar">Registrar cliente</a>
      </div>

      <div class="menu-section">
        <p>🏨 Hoteles</p>
        <a href="/admin/hotel">Ver hoteles</a>
        <a href="/admin/hotel/registrar">Registrar hotel</a>
      </div>

      <div class="menu-section">
        <p>👨‍💼 Empleados</p>
        <a href="/admin/empleados">Ver empleados</a>
      </div>

      <div class="menu-section">
        <p>🛏 Habitaciones</p>
        <a href="/admin/habitaciones">Ver habitaciones</a>
        <a href="/admin/habitaciones/registrar">Registrar habitación</a>
      </div>

      <div class="menu-section">
        <p>📅 Reservas</p>
        <a href="/admin/reservas">Ver reservas</a>
        <a href="/admin/reservas/registrar">Registrar reserva</a>
      </div>
    </aside>

    <main class="main">
      <h1>Listado de Clientes</h1>

      <table>
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Nacionalidad</th>
            <th>Género</th>
            <th>DNI</th>
          </tr>
        </thead>
        <tbody id="tablaClientes">
          <tr>
            <td>Juan</td>
            <td>Pérez</td>
            <td>Gómez</td>
            <td>Peruana</td>
            <td>Masculino</td>
            <td>12345678</td>
          </tr>
          <tr>
            <td>Adrian</td>
            <td>Salcedo</td>
            <td>Salas</td>
            <td>Chamo</td>
            <td>Masculino</td>
            <td>87654321</td>
          </tr>
          <tr>
            <td>Ana</td>
            <td>Rodríguez</td>
            <td>Salas</td>
            <td>Argentina</td>
            <td>Femenino</td>
            <td>87654321</td>
          </tr>
          <tr>
            <td>Alexander</td>
            <td>Machuca</td>
            <td>Salas</td>
            <td>Cubano</td>
            <td>Masculino</td>
            <td>77654321</td>
          </tr>
          <tr>
            <td>Norma</td>
            <td>Rodríguez</td>
            <td>Flores</td>
            <td>Argentina</td>
            <td>Femenino</td>
            <td>87654321</td>
          </tr>
          <tr>
            <td>Alex</td>
            <td>Rodríguez</td>
            <td>Salas</td>
            <td>Argentina</td>
            <td>Femenino</td>
            <td>87654321</td>
          </tr>
          <tr>
            <td>Diego</td>
            <td>Rodríguez</td>
            <td>Rojas</td>
            <td>Argentina</td>
            <td>Femenino</td>
            <td>87654321</td>
          </tr>
        </tbody>
      </table>
      <div id="paginacion" class="paginacion">
        <button onclick="primeraPagina()">«</button>
        <button onclick="paginaAnterior()">‹</button>
        <span id="numerosPaginas"></span>
        <button onclick="paginaSiguiente()">›</button>
        <button onclick="ultimaPagina()">»</button>
      </div>
    </main>
    <script src="/js/cliente.js"></script>
    <script src="/js/aside.js"></script>
  </body>
</html>
