<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registro de Clientes - Reserva de Hoteles</title>
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/cliente.css" />
    <link rel="stylesheet" href="/aside.css" />
    <link rel="stylesheet" href="css/estilos.css" />
  </head>
  <div id="burbujas-container"></div>
  <body>
    <aside class="sidebar">
      <h2>TuViaje Admin</h2>

      <div class="menu-section">
        <p>👤 Clientes</p>
        <a href="/clientes">Ver clientes</a>
        <a href="/clientes/registrar">Registrar cliente</a>
      </div>

      <div class="menu-section">
        <p>🏨 Hoteles</p>
        <a href="/hotel">Ver hoteles</a>
        <a href="/hotel/registrar">Registrar hotel</a>
      </div>

      <div class="menu-section">
        <p>👨‍💼 Empleados</p>
        <a href="/empleados">Ver empleados</a>
        <a href="/empleados/registrar">Registrar empleado</a>
      </div>

      <div class="menu-section">
        <p>🛏 Habitaciones</p>
        <a href="/habitaciones">Ver habitaciones</a>
        <a href="/habitaciones/registrar">Registrar habitación</a>
      </div>

      <div class="menu-section">
        <p>📅 Reservas</p>
        <a href="/reservas">Ver reservas</a>
        <a href="/reservas/registrar">Registrar reserva</a>
      </div>
    </aside>

    <main class="main">
      <div class="container">
        <h1>Registro de Clientes</h1>
        <form id="registroCliente" action="#" method="POST">
          <label for="nombre">Nombre:</label>
          <input type="text" id="nombre" name="nombre" required />

          <label for="apellidoPaterno">Apellido Paterno:</label>
          <input
            type="text"
            id="apellidoPaterno"
            name="apellidoPaterno"
            required
          />

          <label for="apellidoMaterno">Apellido Materno:</label>
          <input
            type="text"
            id="apellidoMaterno"
            name="apellidoMaterno"
            required
          />

          <label for="nacionalidad">Nacionalidad:</label>
          <input type="text" id="nacionalidad" name="nacionalidad" required />

          <label for="genero">Género:</label>
          <select id="genero" name="genero" required>
            <option value="">Seleccione</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
          </select>

          <label for="dni">DNI:</label>
          <input
            type="text"
            id="dni"
            name="dni"
            pattern="\d{8}"
            title="Debe ingresar 8 dígitos"
            required
          />

          <button type="submit">Registrar</button>
          <button id="btnLimpiar" type="button" onclick="limpiarFormulario()">
            Limpiar
          </button>
        </form>
      </div>
    </main>
    <script src="js/clienteRegistro.js"></script>
  </body>
</html>
